.jumbotron {
	background-color: purple;
	color: white;
	margin-top: 50px;

 }


 .footer {
 	background-color: purple;
 	padding: 10px 10px 0 10px;
 	margin-bottom: 0px;
 	color: white;
 	margin-top: 50px;
 		

 }

.card-hotel {
	flex: 1 200px;
	margin-top: 10px;
	margin-right: 2px;
	margin-left: 2px;

}

.btn-reserva {
	width: 100%;
	border-radius: 0px;

}


.footer-address-icon {
	padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}

.imgnormal img {
  width: 100%;
  height: 640px;
  max-height: 720px;

}


