.jumbotron {
  background-color: #75167c;
  color: white;
  margin-top: 50px;
  margin-bottom: 0px;
}
.footer {
  background-color: #75167c;
  padding: 10px 10px 0 10px;
  color: white;
  margin-top: 50px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: 2px;
  margin-left: 2px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
.imgNormal img {
  width: 100%;
  height: 640px;
  max-height: 720px;
}
