
@purple: #64ce44;


.margenes (@top: 0px, @bottom: 0px){
	margin-top: @top;
	margin-bottom: @bottom;
	
}


.jumbotron {
	background-color: @purple;
	color: white;
	.margenes(50px, 0px);

 }


 .footer {
 	background-color: @purple;
 	padding: 10px 10px 0 10px;
 	color: white;
 	.margenes(50px, 0px);
 		

 }

.card-hotel {
	flex: 1 200px;
	.margenes(10px, 0px);
	margin-right: 2px;
	margin-left: 2px;

}

.btn-reserva {
	width: 100%;
	border-radius: 0px;

}


.footer-address-icon {
	padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}

.imgNormal img {
  width: 100%;
  height: 640px;
  max-height: 720px;

}

