$purple: #890ba8;
$red: #e61207;
$green: #15bd44; 

@mixin margenes ($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
	
}



.jumbotron {
	background-color: $purple;
	color: white;
	@include margenes(50px, 10px );
 }


 .footer {
 	background-color: $purple;
 	@include margenes(50px, 0px );
 	color: white;	

 }

.card-hotel {
	flex: 1 200px;
	@include margenes(10px, 0px);
	margin-right: 2px;
	margin-left: 2px;

}

.btn-reserva {
	width: 100%;
	border-radius: 0px;

}


.footer-address-icon {
	padding-right: 10px;
	
}

.tab-content {
	padding-top: 10px;	
}

.imgNormal img {
  width: 100%;
  height: 640px;
  max-height: 720px;

}


