.jumbotron {
  background-color: #7f0e9b;
  color: white;
  margin-top: 50px;
  margin-bottom: 10px; }

.footer {
  background-color: #7f0e9b;
  margin-top: 50px;
  margin-bottom: 0px;
  color: white; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: 2px;
  margin-left: 2px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

.imgNormal img {
  width: 100%;
  height: 640px;
  max-height: 720px; }
